.red-border {
  border: 1px solid red;
}

.page-wrap {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  
}

.div-table > div.row {
  margin-bottom: 2px;
}

.menu-bar {
  background-color: #c5d5cb;
  position: fixed;
  width: 55px;
  height: 100%;
  box-shadow: 2px 0 5px rgba(170, 170, 170, 0.3);
}

.menu-button {
  background-color: transparent;
  color: #616b65;
  border: 0;
  border-right: 1px solid #616b65;
  border-left: 1px solid #616b65;
  padding: 6px 10px !important;
  margin: 9px !important;
}

.menu-button-selected {
  background-color: transparent;
  border: 0;
  color: rgb(88, 18, 18) !important;
  border-right: 1px solid rgb(88, 18, 18) !important;
  border-left: 1px solid rgb(88, 18, 18) !important;
  padding: 6px 10px !important;
  margin: 9px !important;
  box-shadow: 0px 0px 10px -1px rgb(88, 18, 18) inset !important;
}

.offset-left-60 {
  margin-left: 60px;
}

.wrapper {
  overflow: auto;
}

.sidebar-container {
  height: 550px !important;
}

.sidebar-wrapper {
  height: 500px !important;
  overflow: auto;
}

.info-wrapper {
  height: 200px !important;
  overflow: auto;
}

/* Floor plan */
.floor-process-actions {
  line-height: 1;
  font-size: 10px;
  position: absolute;
  margin-left: 5px;
  margin-top: -5px;
  background-color: white;
  padding: 5px 0px 5px 0px;
  border-top: 1px solid gray;
  border-bottom: 1px solid gray;
}

.floor_plan {
  max-width: 150px;
  text-align: left !important;
}

.num {
  text-align: right;
}

.selected-user {
  box-shadow: 0px 0px 15px #eb9114;
}

.selected-process {
  line-height: 1;
  font-size: 14px;
  font-weight: bolder;
  position: absolute;
  margin-left: -15px;
  background-color: transparent;
}
.title_brigade{
  margin-left: 20px;
  margin-top: 30px;
}
.processes td{
  padding: 3px !important;
}
.processes th{
  padding: 3px !important;
}
.sidebar-wrapper::-webkit-scrollbar-track
{
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: #F5F5F5;
}

.sidebar-wrapper::-webkit-scrollbar
{
  width: 8px;
  height: 8px;
	background-color: #F5F5F5;
}

.sidebar-wrapper::-webkit-scrollbar-thumb
{
	border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
  box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #f0ad4e;
}


.wrapper::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: #F5F5F5;
}

.wrapper::-webkit-scrollbar
{
  width: 8px;
  height: 8px;
	background-color: #F5F5F5;
}

.wrapper::-webkit-scrollbar-thumb
{
	border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
  box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #c9d8c5;
}

.center {
  text-align: center !important;
}

.sidebar-nowrap-process {
  width: 120px !important;
  white-space: nowrap;
  overflow-x: hidden;
  overflow-y: hidden;
}