body{
    background-color: white;
}
.row{
    margin: 0 auto;
    text-align: center;
}
.logo{
    margin-top: 10%;
}
.input-group{
    margin: 10px 0;
}
.login-form{
    margin: 0 auto;
    float: none;
}
.btn{
    padding: 6px;
    margin: 5px 0;
}

    .tab{
        margin: 10px 0 0;
        padding: 0;
        display: inline-block;
    }
    
 
    .header{
        border-bottom:1px solid lightgrey;
        background-color: #595959;
    }
    .number{
        border-bottom: 1px solid grey;
        padding: 3px;
    }
    
ul {
    margin: 0;
    padding: 0;
    list-style: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

li {
    cursor: move;
    padding: 8px ;
    font-size: 14px;
    border-bottom: 1px solid grey;
   
}
.nw{
    width: 10%;
    float: right;
    background-color: lightgreen;
}
.content{
    margin-top: 20px;
}
.relation {
    padding: 4px;
    width:50%;
}
.continue, .zapis{
    margin-top: 20px;
}

.right{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: #3c3c3d;
    width: 20%;
    border: 1px solid #ccc;
}
.close_button{
    background-color: transparent;
    border: 0;
    font-size: 30px;
    color: black;
}
div.link {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
    
}
th{
    text-align: center;
}
.close_button{
    color: white;
}


div.link button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 5px 10px;
    transition: 0.3s;
    font-size: 17px;
}


div.link button:hover {
    background-color: #ddd;
}


div.link button.active {
    background-color: #ccc;
}


.tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
}
.mashine{
    color: white;
    background-color: #3c3c3d;
    text-decoration: none;
}
[data-draggable="item"]
{
    display:block;
    list-style-type:none;
    
    margin:0 0 2px 0;
    
    border-radius:0.2em;
    
    line-height:1.3;
}
[data-draggable="target"]
{
    list-style-type:none;
    height:30px;
    overflow-y:auto;
    padding: 0;
    margin:5px;
    
    
    border:1px solid #ccc;
    border-radius:4px;
    color:#555;
}
.save{
    width: 100%;
}
.open {
    margin-top: 0;
    padding: 0;
}
.dep{
    margin-top: 10px;
    width: 80%;
}


.btn-circle {
  width: 15px;
  height: 15px;
  text-align: center;
  padding: 0;
  font-size: 14px;
  line-height: 0;
  border-radius: 30px;
  border: 0;
  background-color: transparent;
  color:#e38582;
}
button.dependencies{
    margin: 0;
    margin-bottom: 4px;
}

td>.open{
    font-size: 14px;
    float: left;
    height: 20px;
}
.title{
    text-align: center;
    margin-bottom: 30px;
}
.child{
    margin-right: 2px;
    float: left;
}
.parentTD{
    width: 100px;
    background-color: #e9ece5;
    border-right: 1px solid #737373;
}
.parentDel{
    float: right;
}
.tech{
    border-right: 1px solid #737373;
    background-color: #e9ece5;
}
.logout{
    float: right;
}
.cutting{
    margin-top: 30px;
}
.model, .briga{
    border-right: 2px solid #ccc;
    border-left: 2px solid #ccc;
    border-radius: 4px;
    padding-bottom: 30px;
    background-color: #e9ece5;
}
.briga{
    background-color: #e3e0cf;
}

.log{
    width: 100%;
}
.choice{
    padding-right: 30px;
    padding-left: 30px;
}

.btn-default{
    background-color: transparent;
    border:0;
    color: #ccc;
    border-radius: 0;
    margin-right: 10px;
}
.exit{
    border: 1px solid #e38582;
    background-color: transparent;
    color: #e38582;
    float: right;
}
.links{
    text-align: left;
}
.sidebar{
    position: absolute;
    top: 53px;
    right: 2px;
    width: 30%;
    bottom: 0;
    background-color: #222;
    overflow: auto;
}
.sidebar_button{
    position: absolute;
    right: 30%;
    background-color: transparent;
    color: #595959;
    border: 0;
    border-right: 1px solid #595959;
    border-left: 1px solid #595959;
    padding: 6px 10px;
}
.bar{
    background-color: #f2f2f2;
}
.table{
    margin: 0;
}
.open>.dropdown-menu{
    width: 250px;
    padding: 0;
    overflow-x: hidden !important;
}

.open > .dropdown-menu > li {
  padding: 5px;
}

.open > .dropdown-menu > li > a {
  padding: 0;
}
.parent{
    color: #009933;
    border-radius: 4px;
    padding: 2px 4px;
    border-right: 1px solid #009933;
    border-left: 1px solid #009933;
}
.modelss{
    width: 50%;
    margin: 0 auto;
    background-color: #f2f2f2;
}

.rbt-input {
  width: 20px;
  overflow: hidden;
}

.btn-add-parent {
  margin: 0;
  padding: 0;
  height: 20px;
  width: 20px;
  background-color: #89bdd3;
}
.navbar{
    margin-bottom: 0;
}
.login-form > .input-group > .rbt > .rbt-input{
    width: 100% !important;
}
.login-form > .input-group > .rbt > .dropdown-menu{
    width: 100%;
    overflow-x: hidden !important;
}
.navbar-nav>li>a:hover {
    background-color: black !important; 
}
li{
    border: 0;
    padding: 0;
}
.navbar-form{
    margin: 0;
}
.users{
    color: #ccc;
    margin: 5px;
    width: 97%;
    max-height: 50%;
}
.mashineBtn{
    background-color: #eb9114;
    color: white;
    width: 100%;
}
.userBtn{
    background-color: #f3bd72;
    color: white;
    width: 100%;
}
.process{
    width: 100%;
}
.searching{
    width: 80%;
    margin: 0 auto;
    margin-top: 5px;
}
.tech2{
    text-align: center;
    background:#e9ece5;
    border-right: 1px solid #737373;
}
.tech3{
    background-color: #e9ece5;
}
.seat{
    margin-top: 10px;
}
.view_dep{
    background-color:#e9ece5;
}

.table>thead>tr>th, .table>tbody>tr>td{
    border-top: 1px solid  #737373;
    
}
.time{
    text-align: center;
}
.start{
    width: 15px;
}
.table>tbody>tr.active>td{
    background-color: white;
}
.showPlan{
    padding: 0 4px;
    margin: 0;
    background-color: #edd9c0;
    color: #737373;
    border-radius: 2px;
}
.cutting_table{
    margin-top: 20px;
    border: 1px solid #ccc;
}
.name{
    border:1px solid #ccc;
    width: 200px;
    background-color: #9fa8a3;
    color: #3d3c3d;
}
.modelName{
    background-color: #c5d5cb;
}
.orders{
    background-color: #e3e0cf;
}
.cut{
    background-color:   #e6e6e6;
}
.grafic{
    background-color:  #d7ecc6;  
}
.min{
    background-color: #F3FAB6;
}
.stock{
    background-color:  #ffffcc;
}
.ok{
    border: 0 !important;
}
.attention{
    background-color: #b56969;
    color: white;
}
.tech4{
    border: 0;
}

.no-border {
    border-top: 0 !important;
}

.size-180 {
    width: 180px !important;
}

.size-30 {
    width: 30px !important;
}
.prosh{
    border: 0;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0);
    height: 25px;
}
.prosh:focus{
    border: 0;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0);
}
.title2{
    text-align: center;
    margin-bottom: 10px;
}