body{
    background-color: white;
}

.logo{
    margin-top: 10%;
}
.input-group{
    margin: 10px 0;
}
.login-form{
    margin: 0 auto;
    float: none;
}

.tab{
    margin: 10px 0 0;
    padding: 0;
    display: inline-block;
}
.header{
    border-bottom:1px solid lightgrey;
    background-color: #595959;
}
.number{
    border-bottom: 1px solid grey;
    padding: 3px;
}
.navbar-inverse{
    background-color: #616b65;
    border-color: #49504c;
    z-index: 10;
}
.navbar-nav>li>a{
    color: white !important;
}
.navbar-collapse{
    background-color: #616b65;
    position: fixed;
    width: 100%;
    z-index: 10;
    left: 0;
    height: 25px;
}
ul {
    margin: 0;
    padding: 0;
    list-style: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

li {
    cursor: move;
    padding: 8px ;
    font-size: 14px;
    border-bottom: 1px solid grey;
   
}
.nw{
    width: 10%;
    float: right;
    background-color: lightgreen;
}
.content{
    margin-top: 20px;
}
.relation {
    padding: 4px;
    width:50%;
}
.continue, .zapis{
    margin-top: 20px;
}

.right{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: #3c3c3d;
    width: 20%;
    border: 1px solid #ccc;
}
.close_button{
    background-color: transparent;
    border: 0;
    font-size: 30px;
    color: black;
}
div.link {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
    
}
th{
    text-align: center;
}
.close_button{
    color: white;
}


div.link button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 5px 10px;
    transition: 0.3s;
    font-size: 17px;
}


div.link button:hover {
    background-color: #ddd;
}


div.link button.active {
    background-color: #ccc;
}


.tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
}
.mashine{
    color: white;
    background-color: #3c3c3d;
    text-decoration: none;
}
.save{
    width: 100%;
    margin-top: 10px;
}
.open {
    margin-top: 0;
}
.dep{
    margin-top: 90px;
    width: 80%;
}


.btn-circle {
  width: 15px;
  height: 15px;
  text-align: center;
  padding: 0;
  font-size: 14px;
  line-height: 0;
  border-radius: 30px;
  border: 0;
  background-color: transparent;
  color:#e38582;
}
button.dependencies{
    margin: 0;
    margin-bottom: 4px;
}

td>.open{
    font-size: 14px;
    float: left;
    height: 20px;
}
.title{
    text-align: center;
    margin-bottom: 30px;
}
.child{
    margin-right: 2px;
    float: left;
}
.parentTD{
    width: 100px;
    background-color: #e9ece5;
    border-right: 1px solid #737373;
}
.parentDel{
    float: right;
}
.tech{
    border-right: 1px solid #737373;
    background-color: #e9ece5;
}
.logout{
    float: right;
}
.cutting{
    margin-top: 30px;
}
.model, .briga{
    border-right: 2px solid #ccc;
    border-left: 2px solid #ccc;
    border-radius: 4px;
    padding-bottom: 30px;
    background-color: #e9ece5;
    margin-top: 5px;
    box-shadow: 5px 10px 5px rgba(170, 170, 170, 0.5);
}
.briga{
    background-color: #e3e0cf;
    
}

.log{
    width: 100%;
}
.choice{
    padding-right: 30px;
    padding-left: 30px;
}

.btn-default{
    background-color: transparent;
    border:0;
    color: #ccc;
    border-radius: 0;
    margin-right: 10px;
}

.links{
    text-align: left;
}

.content {
    position: absolute;
    top: 105px;
    left: 50px;
    transition: right .3s ease-in-out;
}
.content.more{
    right: 30%;
}

.places{
    position: absolute;
    top: 130px;
}
.table{
    margin: 0;
}
.open>.dropdown-menu{
    width: 100%;
    padding: 0;
    overflow-x: hidden !important;
}

.open > .dropdown-menu > li {
  padding: 5px;
}

.open > .dropdown-menu > li > a {
  padding: 0;
}
.parent{
    color: #009933;
    border-radius: 4px;
    padding: 2px 4px;
    border-right: 1px solid #009933;
    border-left: 1px solid #009933;
}
.modelss{
    width: 50%;
    margin: 6px auto;
    background-color: #c5d5cb;
}

.open>.rbt-input {
  width: 100%;
  overflow: hidden;
}
.view_dep>.open>.rbt-input {
    width: 20px;
    overflow: hidden;
  }
  .view_dep>.open{
      padding: 0;
  }

.btn-add-parent {
  margin: 0;
  padding: 0;
  height: 20px;
  width: 20px;
  background-color: #89bdd3;
}
.navbar{
    margin-bottom: 0;
}
.login-form > .input-group > .rbt > .rbt-input{
    width: 100% !important;
}
.login-form > .input-group > .rbt > .dropdown-menu{
    width: 100%;
    overflow-x: hidden !important;
}
.navbar-nav>li>a:hover {
    background-color: #49504c !important;
    color: white !important; 
}
li{
    border: 0;
    padding: 0;
}

.users{
    color: #ccc;
    margin: 5px;
    width: 97%;
    max-height: 50%;
}
.mashineBtn{
    background-color: #eb9114;
    color: white;
    width: 100%;
}
.userBtn{
    background-color: #f3bd72;
    color: white;
    width: 100%;
}
.process{
    width: 100%;
}
.searching{
    width: 80%;
    margin: 0 auto;
    margin-top: 5px;
}
.tech2{
    text-align: center;
    background:#e9ece5;
    border-right: 1px solid #737373;
}
.tech3{
    background-color: #e9ece5;
}
.seat{
    margin-top: 10px;
}
.view_dep{
    background-color:#e9ece5;
}

.time{
    text-align: center;
}
.start{
    width: 15px;
}
.table>tbody>tr.active>td{
    background-color: white;
}
.showPlan{
    padding: 0 4px;
    margin: 0;
}
.cutting_table{
    margin-top: 10px;
    border: 1px solid #ccc;
}
.name{
    border:1px solid #ccc;
    width: 200px;
    background-color: #9fa8a3;
    color: #3d3c3d;
}
.modelName{
    background-color: #c5d5cb;
    width: 200px !important;
    padding: 2px !important;
    text-align: center;
}

.orders{
    background-color: #e3e0cf;
    width: 50px;
}
.cut{
    background-color:   #e6e6e6;
    width: 50px;
}
.grafic{
    background-color:  #d7ecc6;
    width: 50px;  
}
.min{
    background-color: #F3FAB6;
    width: 50px;
}
.stock{
    background-color:  #ffffcc;
    width: 50px;
}
.ok{
    border: 0 !important;
    width: 50px;
}
.attention{
    background-color: #b56969;
    color: white;
    width: 50px;
}
.tech4{
    border: 0;
}

.no-border {
    border-top: 0 !important;
}

.size-180 {
    width: 180px !important;
}

.size-30 {
    width: 30px !important;
}
.prosh{
    border: 0;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0);
    height: 25px;
}
.prosh:focus{
    border: 0;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0);
}
.title2{
    text-align: center;
    margin-bottom: 10px;
}
.icon{
    width: 80%;
}
.icon2{
    width: 30%;
}
.floor_plan{
    text-align: center;
    font-size: 12px;
    background-color: #e3e0cf;
    border: 1px solid #ba9077 !important;
    height: 25px;
}
.floor_plan2{
    font-size: 12px;
    background-color: #c9d8c5;
    border: 1px solid #ba9077 !important;
    height: 25px;
}
.bar .table td{
    padding: 2px;
    width: 80px;
}
.noImage{
    width: 70px;
    height: 70px;
    border: 1px solid #49504c;
    border-radius: 5px;
    margin-top: 5px;
}
.notes{
    margin-top: 15px;
    border-radius: 5px;
    overflow: hidden;
}
.modelss th{
    width: 200px;
}

.margin-top-10 {
    margin-top: 10px;
}

.margin-top-40 {
    margin-top: 40px;
}

.error-message {
  height: 30px;
  color: red;
}

.color-0 {
  color: #696969 !important;
}

.color-1 {
  color: #00008B !important;
}

.color-2 {
  color: #4682B4 !important;
}

.color-3 {
  color: #708090 !important;
}

.color-4 {
  color: #2F4F4F !important;
}

.color-5 {
  color: #008B8B !important;
}

.color-6 {
  color: #5F9EA0 !important;
}

.color-7 {
  color: #B8860B !important;
}

.color-8 {
  color: #CD853F !important;
}

.color-9 {
  color: #D2691E !important;
}

.color-10 {
  color: #8B4513 !important;
}

.color-11 {
  color: #BDB76B !important;
}

.color-12 {
  color: #808000 !important;
}

.color-14 {
  color: #800080 !important;
}

.panel-body{
    padding: 0 15px;
}
.logo-row{
    text-align: center;
}
.selectpicker{
    width: 100%;
    margin-top: 5px;
    border-radius: 5px;
    padding: 2px;
}
.selectpicker option{
    max-width: 50px;
    min-width: 40px;
}
.head{
    width: 80%;
}
.colm {
    text-align: center;
}


.floor {
    border-spacing: 20px;
    border-collapse: separate;
}
  
.floor-cell {
    width: 250px;
    height: 100px;
    border: 1px solid gray;
    padding: 0px 10px 10px 10px;
    vertical-align: top;
}

.floor-cell > .Droppable {
    height: 100%;
}
  
.floor-cell-number {
    font-size: 9px;
    margin-top: 0px;
    margin-bottom: -10px;
    margin-left: -10px;
}
  
.cell-user-name {
    min-width: 80px;
    white-space: nowrap;
    overflow-x: hidden;
    overflow-y: hidden;
}
  
.floor-person-actions {
    font-size: 12px;
    line-height: 1;
    position: absolute;
    margin-top: -16px;
    background-color: white;
    padding: 0px 5px 0px 5px;
    border-left: 1px solid gray;
    border-right: 1px solid gray;
  }
  
.floor-delete-column {
    line-height: 1;
    position: absolute;
    margin-top: -10px;
    margin-left: 50px;
    background-color: white;
    padding: 0px 5px 0px 5px;
    border-left: 1px solid gray;
    border-right: 1px solid gray;
}
  
.floor-delete-row {
    line-height: 1;
    position: absolute;
    margin-left: -20px;
    margin-top: 30px;
    background-color: white;
    padding: 5px 0px 5px 0px;
    border-top: 1px solid gray;
    border-bottom: 1px solid gray;
}

.modal.in {
    display: block;
    background-color: rgba(0,0,0,0.4);
}

.modelName div {
    width: 190px;
    white-space: nowrap;
    overflow-x: hidden;
    overflow-y: hidden;
    margin: 0 auto;
}
.works{
    border: 1px solid #ccc;
    width: 50%;
    margin:5px 20px;;
}

.first{
    border-top: 0 !important;
}
.checked{
    color: #66ff99;
}
.recording{
    color: #f3bd72;
}